@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300 &display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

header {
  background-color: aliceblue;
  height: 100vh;
  width: 20vw;
  position: fixed;
  top: 0;
  left: 0;
}

main {
  min-height: 100vh;
  width: 80vw;
  position: absolute;
  top: 0;
  left: 20vw;
}

.info-container {
  height: 40%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.info {
  height: 100%;
  width: 60%;
  color: #646363;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  /* font-weight: bolder; */
}

.info h1 {
  color: #646363;
  font-size: 42px;
}

.info-img {
  height: 100%;
  width: 40%;
  padding: 10px;
}

.info-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: left;
}

.menu-container {
  min-height: 60%;
  min-width: 100%;
  position: absolute;
  top: 40%;
  left: 0;
  padding: 32px 32px 100px;
  background-color: #dee1e6;
}

.menu-container h1 {
  height: 10%;
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
  color: #646363;
}

.menu {
  min-height: 90%;
  width: 100%;
  margin: 0 auto;
}

.menu-item {
  height: 40%;
  max-width: 30%;
  display: inline-block;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.menu-item img {
  height: 40%;
  width: 80%;
  margin: auto;
  display: block;
  object-fit: contain;
}

#price {
  color: red;
  margin-bottom: 5px;
}

#item-name {
  color: #646363;
  margin-bottom: 5px;
  font-weight: bolder;
}

#item-description {
  color: #646363;
  margin-bottom: 5px;
}

#add-btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #646363;
  color: #ffffff;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  overflow: auto;
  margin-bottom: 50px;
}

nav::-webkit-scrollbar {
  display: none;
}

.avatar {
  height: 100px;
  width: 100px;
  background-image: url("./assets/coffee.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  flex: 1;
}

.nav-items {
  height: 70%;
  width: 100%;
  flex: 3;
}

.nav-items li {
  height: 10%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

.nav-items p {
  width: 65%;
  font-size: 24px;
  color: #646363;
}

#search-icon,
#food-menu-icon,
#bar-menu-icon,
#bookings-icon,
#favourites-icon,
#history-icon {
  height: 60%;
  width: 25%;
  padding: 7px;
}

.nav-items #arrow-icon {
  height: 100%;
  padding: 10px;
}

#search-input {
  height: 100%;
  width: 70%;
  font-size: 24px;
  background-color: transparent;
  color: #646363;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #646363;
}

#search-input:focus {
  outline: none;
}

.food-categories,
.bar-categories,
.booking-categories {
  font-size: 24px;
  color: #646363;
  width: 80%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

.order-btn-container {
  height: 10%;
  width: 80%;
  background-color: transparent;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-btn {
  height: 70%;
  width: 80%;
  background-color: #646363;
  color: #ffffff;
  font-size: 24px;
  border: none;
  border-radius: 50px;
}

.check-items {
  min-height: 100%;
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.check-items h1 {
  margin: 20px auto;
  font-size: 32px;
  font-weight: lighter;
  color: #646363;
}

#check-item {
  background-color: #dee1e6;
  max-height: 10%;
  width: 70%;
  display: flex;
  border-radius: 20px;
  margin: 10px 0;
  box-shadow: 1px 1px 5px #646363;
}

#check-item-img {
  height: 100%;
  width: 20%;
  object-fit: contain;
  padding: 10px;
}

#check-item-info {
  min-height: 100%;
  width: 70%;
  padding: 10px;
  color: #646363;
  font-size: 18px;
}

#first-div,
#second-div,
#third-div {
  min-height: 33%;
  width: 100%;
  display: inline-block;
}

/* #check-item-heading, #check-item-total{
  flex: 2;
}

#check-item-price, #qty-btn-container {
  flex: 1;
} */

#check-item-heading{
  height: 100%;
  width: 70%;
  display: inline-block;
}

#check-item-price{
  width: 28%;
  height: 100%;
  text-align: right;
  display: inline-block;
}

#check-item-qty{
  height: 100%;
  width: 100%;
  display: inline-block;
}

#qty-btn-container{
  width: 30%;
  height: 100%;
  display: inline-block;
}

#qty-btn-container button{
  height: 90%;
  width: 40%;
  margin: 5px 5px 5px 0;
  border-radius: 10px;
}

#decrease-btn{
  background-color: #ffffff;
  color: #646363;
  font-size: 18px;
  border: 1px solid #646363;
}

#increase-btn{
  background-color: #646363;
  color: #ffffff;
  font-size: 18px;
  border: 1px solid #646363;
}

#check-item-total{
  height: 100%;
  width: 68%;
  display: inline-block;
  text-align: right;
}

#delete-btn {
  width: 10%;
  padding: 10px;
  object-fit: contain;
}

.bill-container {
  height: 100%;
  width: 33%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bill{
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #646363;
}

.bill h1{
  font-weight: lighter;
  margin: 20px;
}

.bill-sub-container{
  height: 60%;
  width: 100%;
  display: flex;
}

.bill-keys{
  width: 59%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

.bill-values{
  width: 39%;
  display: flex;
  flex-direction: column;
}

.bill-keys p{
  margin: 5px;
}

.bill-values p{
  margin: 5px;
}

/* @media screen and (max-width: 650px) {
  .menu-item {
    display: block;
    min-width: 90%;
  }
} */
